#textProjects{
    background-color: #111827;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 150px;
}

.containerProjects {
    height: auto;
    width: 100%;
    background-color: #111827;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

.desktop {
    margin-top: 3%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktopIframe {
    position: absolute;
    width: 710px;
    height: 445px;
}

.celular {
    margin-bottom: 5%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.celularIframe {
    position: absolute;
    width: 389px;
    height: 620px;
    border: none;
}

.celularImg {
    width: 450px;
}
/* CARROUSEL DE PROYECTOS */

#slickCarousel{
    min-height: 380px;
    min-width: 380px;
}

.capa{
    position: absolute;
    bottom: auto;
    left: auto;
    width: 85%;
    height: 70%;
    backdrop-filter: blur(2px) contrast(0.5);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.slickCarouselAuraflow{
    background-image: url('../../img/img-projects/AuraFlow.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    
    
}
.slickCarouselSapphire{
    background-image: url('../../img/img-projects/sapphireBar.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slickCarouselMimi{
    background-image: url('../../img/img-projects/mimiPasteleria.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.slickCarouselPilates{
    background-image: url('../../img/img-projects/arPilates.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.slickCarouselRosario{
    background-image: url('../../img/img-projects/rosarioJobs.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.slickCarouselColor{
    background-image: url('../../img/img-projects/colorGame.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slickCarouselPortfolio{
    background-image: url('../../img/img-projects/portfolio.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slickCarouselGithub{
    background-image: url('../../img/img-projects/gitHub.JPG');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: left;
}



@media (max-width: 1440px) {

    .celular {
        display: none;
    }

    .containerProjects {
        display: flex;
        justify-content: center;
    }


}

@media (max-width: 1000px) {
    .desktop {
        display: none;
    }

    .celular {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
        overflow: hidden;
    }

    .celularImg {
        max-width: 434px;
    }

    .celularIframe {
        position: absolute;
        width: 375px;
        height: 635px;
    }


}

@media (max-width: 450px) {
    #mobileProjects{
        height: 100vh;
        background-color: #111827;
    }
    .desktop {
        display: none;
    }
    .celular{
        display: none;
    }
}