#textProjects{
    background-color: #111827;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 150px;
}

.containerProjects {
    height: auto;
    width: 100%;
    background-color: #111827;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

.desktop {
    margin-top: 3%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktopIframe {
    position: absolute;
    width: 710px;
    height: 445px;
}

.celular {
    margin-bottom: 5%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.celularIframe {
    position: absolute;
    width: 389px;
    height: 620px;
    border: none;
}

.celularImg {
    width: 450px;
}

#slickCarousel{
    min-height: 380px;
    min-width: 380px;
}




@media (max-width: 1440px) {

    .celular {
        display: none;
    }

    .containerProjects {
        display: flex;
        justify-content: center;
    }


}

@media (max-width: 1000px) {
    .desktop {
        display: none;
    }

    .celular {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
        overflow: hidden;
    }

    .celularImg {
        max-width: 434px;
    }

    .celularIframe {
        position: absolute;
        width: 375px;
        height: 635px;
    }


}

@media (max-width: 450px) {
    #mobileProjects{
        height: 100vh;
        background-color: #111827;
    }
    .desktop {
        display: none;
    }
    .celular{
        display: none;
    }
}