
#textProjects{
    background-color: #111827;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 150px;
}

#titleProjects{
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: tronFilter 12s infinite;
}

#iconTitleProjects{
    font-size: 70px;
    margin: auto 5%;
    color: #ebff05;
    animation: none !important;
}

#deviceIconBotonera{
    color: #ebff05;
    animation: none !important;
    animation: touch 3s infinite !important;
}

@keyframes touch{
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1.1);
    }
}

#hrTitleProjects{
    width: 20%;
    border-color: #ebff05;
}


.containerProjects {
    height: auto;
    width: 100%;
    background-color: #111827;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

.desktop {
    margin-top: 10%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktopIframe {
    position: absolute;
    width: 1440px;
    height: 900px;
    transform: scale(0.5);
    border: none;
}

.celular {
    /* margin-bottom: 5%; */
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:scale(0.8);
}

.celularIframe {
    position: absolute;
    width: 389px;
    height: 620px;
    border: none;
}

.celularImg {
    width: 450px;
}
/* CARROUSEL DE PROYECTOS */

#slickCarousel{
    min-height: 380px;
    min-width: 380px;
}

.capa{
    position: absolute;
    bottom: auto;
    left: auto;
    width: 85%;
    height: 70%;
    background-color: rgba(17, 24, 39, 0.85);
    backdrop-filter: blur(5px) /* contrast(0.25) */;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.divTextCardCarousel{
    margin-top: 0px;
}

.titleCardCarousel{
    font-weight: 900;
    font-size:25px;
    margin-top: 0px;
    margin-bottom:10px;
    color:#ebff05;
}

.textCardCarousel{
    font-size:14px;
    font-family: 'Roboto Mono', sans-serif;
    color: white;
    text-align: center;
    margin-top: 0px;
}


#iconosCardCarousel{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 10px;
    margin-bottom: 10%;
    color: white;
}

.slickCarouselAuraflow{
    background-image: url('../../img/img-projects/AuraFlow.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    
    
}
.slickCarouselSapphire{
    background-image: url('../../img/img-projects/sapphireBar.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slickCarouselMimi{
    background-image: url('../../img/img-projects/mimiPasteleria.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.slickCarouselPilates{
    background-image: url('../../img/img-projects/arPilates.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.slickCarouselRosario{
    background-image: url('../../img/img-projects/rosarioJobs.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.slickCarouselColor{
    background-image: url('../../img/img-projects/colorGame.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slickCarouselPortfolio{
    background-image: url('../../img/img-projects/portfolio.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slickCarouselGithub{
    background-image: url('../../img/img-projects/gitHub.JPG');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: left;
}



@media (max-width: 1440px) {

    .celular {
        display: none;
    }

    .containerProjects {
        display: flex;
        justify-content: center;
    }


}

@media (max-width: 1000px) {
    .desktop {
        display: none;
    }

    .celular {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
        overflow: hidden;
    }

    .celularImg {
        max-width: 434px;
    }

    .celularIframe {
        position: absolute;
        width: 375px;
        height: 635px;
    }


}

@media (max-width: 450px) {
    #mobileProjects{
        height: auto;
        background-color: #111827;
    }
    .containerProjects{
        margin-top: -20%;
        margin-bottom: -20%;
    }
    .desktop {
        display: none;
    }
    .celular{
        transform: scale(0.7);
        overflow:visible;
        margin-top: 0px;
    }
    .textCardCarousel{
        font-size:12px;
    }
    #titleProjects{
        font-size: 35px;
    }
    
    #iconTitleProjects{
        font-size: 35px;
        margin-right: 0;
    }

    #slickCarousel{
        min-height: 380px;
        min-width: 380px;
        margin-top: 10%;
    }
}