/* Variables */
$color__background: transparent;
$color__texto--navbar : #888;
$color__texto--navbar-hover : transparent;
$color__texto--navbar-hoverText : #ffb703 ;
$font: 'Ubuntu', sans-serif;


nav {
    font-size: 18px;
    background-color: $color__background;
}


/* Navbar */
.navbar{
    display: flex;
    width: 100%;
    &__botones{
    width: 50% ;
    justify-content:end;
    &--all{
        justify-content:space-between;
        width: auto;
    }
    &--desplegable{
        background-color: $color__background;
        border: none;
        color: white;
    }
    &--a {
        color: $color__texto--navbar !important;
        font-family: $font !important;
        font-size: 15px !important;
        margin-right: 30px;
        &:hover{
            box-shadow: inset -10.5em 0 0 0
            $color__texto--navbar-hoverText , inset 10.5em 0 0 0 $color__texto--navbar-hoverText; 
            transition: .6s ease-in;
            z-index: 1;
            border-radius: 5px;
            color: white !important;
        }
    }
}

/* Imagen icono */
.imagen-icono{
    filter: saturate(60%);
    margin-right: 10%;
}

.imagen__flecha{
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 50px;
    width: auto;
    padding: 0.25%;
}
.imagen__flecha--icono{
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 50%;
}
}

@media screen and (max-width: 600px){
    nav {
        background-color: $color__background;
    }
    .navbar__botones--a{
        font-size: 13px !important;
        font-family: $font !important;
        &:hover{
            background-color: $color__texto--navbar-hoverText;
            transition: .6s ease-in;
            border-radius: 5px;
            color: white !important;
        }
    }
}
    
