$color__fondoPerfil: white;
$font__detalle: 'Ubuntu', sans-serif;
$font: 'Raleway', sans-serif;
$color_font--detalle: #ba8b02;
$color_borde:#ffb703;


.contenedor__separador{
        width: auto;
        height: 100px;
}

.fondo{
    width: auto;
    height: auto;
    background: $color__fondoPerfil;
}

.perfil{
    padding: 0;
    height: auto;
    margin-top: 10%;
    margin-left: 15%;
    border-radius: 15px 0px 0px 15px;
    border: solid 0.5px $color_borde;
    border-right: none;
    background-color: white;
    &__image{
        padding: 0;
        width: auto;
        overflow: hidden;
        &--img{
            border-radius: 10px;
            height: auto;
            max-width: 400px;
            margin-left: 10%;
            
        }
    }
    &__texto{
        padding: 7%;
        margin: 0;
        margin-bottom: 10%;
        &--txt{
            height: 100%;
            padding: 10%;
            border-radius: 10px;
        }
    }
}

.nombreJs__start{
    font-family: $font;
    font-weight: bolder;
}

.nombreJs__name{
    font-family: $font__detalle;
    font-size: 50px;
    font-weight: bolder;
    color:white;
    margin-bottom: 10%;
    -webkit-text-stroke: 0.5px $color_font--detalle;
}

.nombreJs__mod{
    font-family: $font__detalle;
    font-size: 35px;
    font-style: normal;
    font-weight:600;
    &--skill{
        color: $color_font--detalle ;
        font-weight: bolder;
    }
}

/* Media para Perfil */
@media screen and (max-width: 600px){
    .perfil{
        height: auto;
        margin-top: 20%;
        margin-left: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        &__texto{
            height: auto;
        &--txt{
            font-size: 10px;
        }
        }
    }
    .nombreJs__start{
        font-size: 13px;
        font-weight:600;
    }
    
    .nombreJs__name{
        font-size: 25px;
        font-weight: bolder;
    }
    .nombreJs__mod{
        font-size: 13px;
        font-style: normal;
        height: auto;
        &--skill{
            color: $color_font--detalle ;
            font-weight: bolder;
        }
    }

}
