
.contenedor__separador--trabajos{
    width: auto;
    height: 100px;
    background-color: white;
}
.trabajos{
    padding: 5%;
    padding-top: 10%;
    background-color: white;
    height: auto;
    width: 100%;
    text-align: center;
    &__carrousel{
        border-radius: 10px;
        background-color: white;
        width: 100%;
        height: auto;
    }
    &__images{
        width: auto;
        border-radius: 10px;
    }
}
