$color_font--detalle: #ba8b02;
$color_font: black;
$font__detalle: 'Ubuntu', sans-serif;
$font: 'Raleway', sans-serif;



.contenedor__separador{
        width: auto;
        height: 250px;
}

.unPocoDeMi{
    padding: 0;
    height: auto;
    margin-top: 10%;
    margin-right: 15%;
    margin-left: 0;
    background-color: white;
    border-radius: 0px 15px 15px 0px;
    border: solid 0.5px $color_font--detalle;
    border-left: none;
    &__image{
        padding: 0;
        width: auto;
        overflow: hidden;
        &--img{
            border-radius: 10px;
            height: auto;
            max-width: 400px;
            margin: 10%
        }
    }
    &__texto{
        padding: 7%;
        margin: 0%;
        margin-bottom: 10%;
        &--txt{
            height: 100%;
            padding: 10%;
            border-radius: 10px;
            font-weight:bolder;
            font-family: $font;
            h3{
                font-family: $font__detalle;
                color: $color_font--detalle;
            }
        }
    }
}

/* Media para Un poco de mi */
@media screen and (max-width: 600px){
    .contenedor{
        margin: 0;
        padding: 0;
        &__separador{
            width: auto;
            height: 250px;
        }
    }
    .unPocoDeMi{
        border-radius: 0;
        height: auto;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr ;
        background-image: url(../../../images/Fondos/codigoUnpocodemi.jpeg);
        overflow:hidden;
        background-size: 700px;
        background-repeat: none;
        
        &__texto{
            margin-top: 10%;
            height: 300px;
            font-size: 13px;
            
            &--txt{
                font-weight: bold;
                background-color: white;
                background-color: rgba(255, 255, 255, 0.801);
                h3{
                    color: $color_font--detalle;
                }
                p{
                    color: $color_font;
                }
            }
        }
        &__image{
            display: none;
        }
    }
}