/* Variables */
$color__background: transparent;
$color__texto--navbar : white;
$color__texto--navbar-hover : #ffb703;
$color__texto--navbar-hoverText : black ;
$font: 'Ubuntu', sans-serif;


nav {
    font-size: 18px;
    background-color: $color__background;
}

/* Navbar */
.navbar{
    &__botones{
    width: 50%;
    justify-content:end;
    
    &--all{
        justify-content:space-between;
        width: auto;
    }
    &--desplegable{
        background-color: $color__background;
        border: none;
        color: white;
    }
    &--a {
        color: $color__texto--navbar !important;
        font-family: $font !important;
        font-size: 15px !important;
        margin-right: 30px;
        &:hover{
            color: $color__texto--navbar-hoverText !important;
            background-color:$color__texto--navbar-hover ;
            border-radius: 5px;
            transition: all .4s ease
        }
    }
    }
}

/* Imagen icono */
.imagen-icono{
    filter: saturate(60%);
    margin-right: 15%;
}

