.skills{
    height: 100vh;
    width: 100%;
    background-color: #111827;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCanva{
    /* background-color: white; */
    border-radius: 50%;
}

.h1Canvas{
    color: white;
}

.iconCloud{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-around;
}

.iconCloudTitle{
    margin-top: 5%;
    height: 50px;
    
}