.aboutMeContainer {
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
}

svg{
    fill: #000000;
    animation: tronFilter 12s infinite !important;
}



#AboutMeText {
    width: 50%;
    text-align: center;
    background-color: rgba(66, 66, 66, 0) !important;
    padding: 5%;
    border-radius: 15px;
    margin:auto;
    position: absolute;
    z-index: 1;
    /* border: solid 2px rgba(0, 255, 255, 0.502); */
    /* ------------------------ */
    padding: 0;
    animation: tronFilter 12s infinite;
    fill: #000000;
    stroke: #666;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: bevel;
}

@keyframes tronFilter {
    0% {
        -webkit-filter: drop-shadow(-.75px 0px 100px #31eefd);
        filter: drop-shadow(-.75px 0px 100px #31eefd);
        stroke: #31eefd;
    }

    22% {
        -webkit-filter: drop-shadow(-.75px 0px 200px #1d85bb);
        filter: drop-shadow(-.75px 0px 200px #1d85bb);
        stroke: #1d85bb;
    }

    /* end blue */

    42% {
        -webkit-filter: drop-shadow(-.75px 0px 100px #884173);
        filter: drop-shadow(-.75px 0px 100px #884173);
        stroke: #884173;
    }

    62% {
        -webkit-filter: drop-shadow(-.75px 0px 200px #ff0071);
        filter: drop-shadow(-.75px 0px 200px #ff0071);
        stroke: #ff0071;
    }

    /* end magenta */
    82% {
        -webkit-filter: drop-shadow(-.75px 0px 100px #009997);
        filter: drop-shadow(-.75px 0px 100px #009997);
        stroke: #009997;
    }

    92% {
        -webkit-filter: drop-shadow(-.75px 0px 200px #92ffd7);
        filter: drop-shadow(-.75px 0px 200px #92ffd7);
        stroke: #92ffd7;
    }

    /* end green */
    100% {
        -webkit-filter: drop-shadow(-.75px 0px 100px #31eefd);
        filter: drop-shadow(-.75px 0px 100px #31eefd);
        stroke: #31eefd;
    }
}

.AboutMeText__h1 {
    text-align: center;
}

.AboutMeText__p {
    position: absolute;
    height: 150px;
    width: 60%;
    font-size: 0.1px;
    font-weight: 400;
    transition: ease-in-out 1s ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0.5);
    font-family: 'Roboto Mono', monospace;
}

.AboutMeText__p:hover{
    height: 600px;
    width: 600px;
    background-color: #000000;
    color: white;
    font-size: 25px;
    padding: 20%;
    border-radius: 50%;
    transform: scale(0.9);
    transition: ease-in-out 1s ;
}

#botonCv{
    border: none;
    background-color: #1d85bb;
    color: #111827;
    height: 50px;
    width: 200px;
    border-radius: 15px;
}


#touchIcon{
    position:absolute;
    left:50px;
    top:185%;
    font-size:80px;
    animation: none !important;
    animation: touch 3s infinite !important;
    transform: ease-in-out;
    color: #ebff05;
}

@keyframes touch{
    0%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1.2);
    }
}

@media (max-width: 1300px) {
    .AboutMeText__p:hover{
        height: 600px;
        width: 600px;
        display: flex;
        align-items: center;
        background-color: rgb(0, 0, 0,);
        font-size: 13px;
        overflow: hidden;
    }
}


@media (max-width: 900px) {
    .aboutMeContainer {
        font-family: 'Kanit', sans-serif;
        flex-direction: column;
        overflow: hidden;
    }
    #AboutMeText{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .AboutMeText__h1 {
        margin-left: 7%;
        font-size: 35px;
    }

    .AboutMeText__p:hover{
        height: 450px;
        width: 450px;
        display: flex;
        align-items: center;
        background-color: rgb(0, 0, 0,);
        font-size: 13px;
        overflow: hidden;
    }

    #touchIcon{
        position:absolute;
        left:30px;
        top:190%;
        font-size:40px;
        animation: none !important;
        animation: touch 3s infinite !important;
        transform: ease-in-out;
        color: #ebff05;
    }

}

@media (max-width: 450px) {
    .AboutMeText__p:hover{
        height: 350px;
        width: 350px;
        display: flex;
        align-items: center;
        background-color: rgb(0, 0, 0,);
        font-size: 11px;
        overflow: hidden;
    }
}